#about {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#about #container {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 5em;
  padding: 4em 0;
}

#about h1 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Noto Sans Mono", monospace;
  background: linear-gradient(180deg, transparent 60%, #e8ff8d 10%);
}

#about #about-top {
  font-size: 18px;
}

#about-right-col {
  margin: 2em 0;
}

#about .tools-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 3em;
}

#about p {
  font-family: "Noto Sans", sans-serif;
  line-height: 30px;
  font-size: 15px;
  margin: 2em 0;
}

#about p a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #2fb1a8;
  transition: all 250ms ease;
}

#about p a:hover {
  background-color: #b0dedb9f;
  transition: all 250ms ease;
}

#about .highlight {
  background-color: rgba(0, 255, 98, 0.3);
}

#about img {
  width: 300px;
}

@media (min-width: 992px) {
  #about {
    min-height: 100vh;
  }
}

@media (max-width: 992px) {
  #about #container {
    flex-direction: column;
    gap: 4em;
  }
  #about .tools-list {
    justify-content: center;
  }
  #about header {
    text-align: center;
  }
  #about-right-col {
    margin: 0;
  }
}
