footer {
  background-color: whitesmoke;
  color: darkgray;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  font-family: "Noto Sans Mono", monospace;
  font-size: 12px;
  letter-spacing: 2px;
}

footer > * {
  width: 35%;
}

footer .top-arrow {
  text-align: right;
}

.footer-left a {
  margin-left: 5px;
  color: rgb(73, 73, 73);
  font-weight: bold;
  text-decoration: none;
}

footer i {
  font-size: 50px;
}

.top-arrow a {
  color: darkgray;
  transition: all 250ms ease-in-out;
}

.top-arrow a:hover {
  color: rgb(73, 73, 73);
  transition: all 250ms ease-in-out;
}
