#home {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  background: linear-gradient(135deg, #a8dee0 0%, #efdfff 75%);
}

#home .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Sans Mono", monospace;
}

#home .short-description p {
  margin-top: 1rem;
  font-size: 14px;
}

#yeana {
  display: block;
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: -4px;
  transition: all 250ms ease-in-out;
}

#yeana:hover {
  color: #deff59;
  transition: all 250ms ease-in-out;
}

@media (max-width: 992px) {
  #home .container {
    gap: 5em;
  }
  .home-right svg {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #home {
    height: 100%;
  }
  #home .container {
    margin: 20% auto;
    flex-direction: column;
  }
}
