.navbar {
  font-family: "Noto Sans Mono", monospace;
  transition: all 250ms ease;
}

.navbar > .container {
  width: 80%;
  padding: 0;
}

.navbar #nav-logo,
.scrolled-logo {
  font-weight: 800;
  letter-spacing: -2px;
  font-size: 30px;
  color: whitesmoke;
  transition: all 250ms ease;
}

.scrolled-logo,
.navbar #nav-logo:hover {
  background: -webkit-linear-gradient(#a8dee0, #efdfff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 250ms ease;
}

#navbar-link {
  font-size: 14px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
}
