#projects #container {
  width: 70%;
  margin: 10em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10em;
}

#projects-header {
  font-size: 30px;
  font-weight: 700;
  font-family: "Noto Sans Mono", monospace;
  letter-spacing: -1px;
  margin: 0 auto;
  background: linear-gradient(180deg, transparent 70%, #ccf3f5 10%);
  transition: all 150ms ease-out;
}

#projects-header:hover {
  background-color: #ccf3f5;
  transition: all 200ms ease;
}

#projects .project {
  display: flex;
  align-items: center;
  gap: 7em;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 8%) 0px 2px 6px;
  background-color: #fbfaf8;
  padding: 2em 6em;
}

#projects .project img {
  width: 400px;
}

#projects .project header {
  font-family: "Noto Serif", serif;
  font-size: 38px;
  letter-spacing: -1px;
  font-weight: 700;
  display: inline-block;
}

.project article span {
  margin-left: 1em;
  font-style: italic;
  font-size: 14px;
  background-color: #d8ff4a7a;
}

#projects .project ul {
  list-style: none;
  padding: 0;
  font-family: "Noto Sans Mono", monospace;
  font-size: 14px;
  margin: 20px 0;
}

#projects .project li {
  margin-bottom: 10px;
}

#projects .project button {
  background-color: transparent;
  border: 1px black solid;
  color: black;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: 700;
  margin-right: 20px;
  font-family: "Noto Sans Mono", monospace;
  transition: all 200ms ease;
}

#projects .project button:hover {
  background-color: #d8ff4a7a;
  transition: all 200ms ease;
}

#projects .project li a {
  text-decoration: none;
  font-weight: bold;
  background-color: #a8dee03a;
  color: #6cb2b4;
  transition: all 200ms ease;
}

#projects .project li a:hover {
  background-color: #d8ff4a7a;
  transition: all 200ms ease;
}
