#contact {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10em;
  background: linear-gradient(135deg, #a8dee0 0%, #efdfff 75%);
}

#contact #container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7em 0;
}

#contact #container > * {
  width: 45%;
}

#contact-left header {
  font-size: 30px;
  font-weight: 700;
  font-family: "Noto Sans Mono", monospace;
}

#contact-left p {
  font-family: "Noto Serif", serif;
  font-size: 20px;
  margin: 3rem 0;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#contact form > * {
  border: none;
  padding: 1em;
  border-radius: 10px;
  font-size: 14px;
  resize: none;
}

#about-links button,
.contact-form-submit {
  color: white;
  font-family: "Noto Sans Mono", monospace;
  transition: all 200ms ease;
  background-color: black;
  /* font-weight: bold; */
  font-size: 12px;
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
}

#about-links button {
  margin-right: 2em;
}

#about-links button:hover,
.contact-form-submit:hover {
  background-color: #85b0c9;
  transition: all 200ms ease;
}

#sent {
  background-color: #eafca4;
  color: black;
}
