#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  font-family: "Noto Sans Mono", monospace;
}

#home .short-description p {
  margin-top: 1rem;
  font-size: 14px;
}

#yeana {
  display: block;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: -4px;
}
